<!-- Navbar -->
<nav class="navbar navbar-light mb-5" style="background-color: #22527b;">
	<div class="container">
		<a class="navbar-brand mx-auto" href="/">
			<img src="/images/razorpay-logo-white.svg" alt="logo" class="d-inline-block align-top pull-left">
		</a>
	</div>
</nav>