<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>

    <div class="wrapper">
        <%- include('../partials/navbar.ejs') %>
		<div class="container">
			<main><%- body %></main>			
		</div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>

</html>