<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to Animal Welfare</h3>

		<figure>
			<blockquote class="blockquote">
				<p>Until one has loved an animal, a part of one's soul remains unawakened.</p>
			</blockquote>
			<figcaption class="blockquote-footer">
				Anatole France
			</figcaption>
		</figure>
		
		<div class="d-grid mt-4">
			<a href="/payment" type="button" class="btn btn-primary">Donate</a>
			<div class="form-text text-center">Please donate something, uparwala tumhara bhala karega.</div>
		</div>
	</div>
</div>