<div class="row d-flex justify-content-center">
	<div class="col-md-8">
		<div class="card">
			<h5 class="card-header">Payment Failed!</h5>

			<div class="card-body">
				<p class="card-text">Please try some other payment method or try again later.</p>

				<a href="/" type="button" class="btn btn-primary">Go Home</a>
			</div>
		</div>
	</div>
</div>