<div class="d-flex justify-content-center">
	<form method="POST" action="/payment/order">
		<div class="mb-3">
		  <label for="amountInput" class="form-label">Enter Amount</label>
		  <input name="amount" type="number" min="1" class="form-control form-control-lg" id="amountInput" aria-describedby="amountHelp" required>
		  <div id="amountHelp" class="form-text">Bhaiyon aur Beheno, ek rupaiya, sau rupaiya. Kuch bhi chalega.</div>
		</div>

		<div class="d-grid">
			<button type="submit" class="btn btn-primary" id="getOrderIdBtn">Submit</button>
		</div>
	</form>
</div>